html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  /* 清除默认的列表标志 */
}
a {
  text-decoration: none;
  /* 清除下划线 */
  color: inherit;
  /* 继承父元素的颜色 */
}
