html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  /* 清除默认的列表标志 */
}
a {
  text-decoration: none;
  /* 清除下划线 */
  color: inherit;
  /* 继承父元素的颜色 */
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50%) translateY(-50%) scale(0);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1);
  }
}
body {
  background-color: #F8F8F8;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
  z-index: 10;
  position: relative;
}
header .nav {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 24px 0 24px;
  width: 100%;
  background-color: #F5F5F5;
  align-items: center;
}
@media only screen and (min-width: 1201px) {
  header .nav {
    height: 72px;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  header .nav {
    height: 72px;
  }
}
@media only screen and (min-width: 841px) and (max-width: 960px) {
  header .nav {
    height: 72px;
  }
}
@media only screen and (min-width: 641px) and (max-width: 840px) {
  header .nav {
    height: 64px;
  }
}
@media only screen and (max-width: 640px) {
  header .nav {
    height: 48px;
  }
}
header .nav .left a img {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 641px) and (max-width: 840px) {
  header .nav .left a img {
    width: 32px;
    height: 32px;
  }
}
@media only screen and (max-width: 640px) {
  header .nav .left a img {
    width: 32px;
    height: 32px;
  }
}
header .nav .right .menu-toggle {
  display: none;
}
header .nav .right .menu-toggle .iconfont {
  font-size: 24px;
  color: #333333;
}
header .nav .right .desktop-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
header .nav .right .desktop-menu ul {
  display: flex;
}
header .nav .right .desktop-menu ul li {
  padding-left: 16px;
}
header .nav .right .desktop-menu ul li a {
  padding: 12px 8px ;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
header .nav .right .desktop-menu ul li a:active {
  font-weight: 500;
  color: #333333;
}
header .nav .right .desktop-menu ul li a:hover {
  color: #333333;
}
header .nav .right .mobile-menu {
  display: none;
  position: relative;
}
header .nav .right .mobile-menu .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
}
header .nav .right .mobile-menu .mobile-menu-list {
  display: none;
  position: absolute;
  top: 12px;
  right: 0;
  background-color: #ffffff;
  padding: 48px 48px;
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s forwards;
}
header .nav .right .mobile-menu .mobile-menu-list li {
  text-align: center;
  margin-bottom: 24px;
  padding-left: 0px;
}
header .nav .right .mobile-menu .mobile-menu-list li:last-child {
  margin-bottom: 0;
}
header .nav .right .mobile-menu .mobile-menu-list li a {
  font-size: 16px;
  font-weight: 500;
  color: #666666;
}
header .nav .right .mobile-menu .mobile-menu-list li a:active {
  font-weight: 500;
  color: #333333;
}
header .nav .right .mobile-menu .mobile-menu-list li a:hover {
  color: #333333;
}
header .nav .right .mobile-menu.open .menu-toggle {
  display: none;
}
header .nav .right .mobile-menu.open .mobile-menu-list {
  display: block;
}
@media only screen and (max-width: 640px) {
  header .nav .right .menu-toggle {
    display: block;
  }
  header .nav .right .desktop-menu {
    display: none;
  }
  header .nav .right .mobile-menu {
    display: block;
  }
  header .nav .right .overlay {
    display: none;
  }
}
.main {
  margin: 0 auto;
}
@media only screen and (min-width: 1201px) {
  .main {
    width: 1200px;
    margin-top: 72px;
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .main {
    width: 100%;
    margin-top: 72px;
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 841px) and (max-width: 960px) {
  .main {
    width: 100%;
    margin-top: 72px;
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 641px) and (max-width: 840px) {
  .main {
    width: 100%;
    margin-top: 64px;
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 640px) {
  .main {
    width: 100%;
    margin-top: 48px;
    margin-bottom: 44px;
  }
}
@media only screen and (min-width: 1201px) {
  .main .aboutme {
    width: 100%;
    height: 392px;
    border-bottom: 1px solid #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 24px;
  }
  .main .aboutme .left {
    width: calc((100% - 16px) / 2);
    height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main .aboutme .left .top h1 {
    font-size: 28px;
    font-weight: 500;
    color: #333333;
  }
  .main .aboutme .left .top p {
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    margin-top: 16px ;
  }
  .main .aboutme .left .bottom {
    display: flex;
  }
  .main .aboutme .left .bottom button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding: 0 16px 0 12px;
    width: 50%;
    transition: all 0.3s ease;
  }
  .main .aboutme .left .bottom button .iconfont {
    font-size: 20px;
    color: #05D268;
    margin-right: 8px;
  }
  .main .aboutme .left .bottom button span {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    transition: all 0.3s ease;
  }
  .main .aboutme .left .bottom button:hover {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  }
  .main .aboutme .left .bottom button:hover span {
    color: #05D268;
  }
  .main .aboutme .left .bottom .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 346px;
    background-color: #FFFFFF;
    border-radius: 5px;
    z-index: 100;
  }
  .main .aboutme .left .bottom .modal .modal-content {
    padding: 20px;
  }
  .main .aboutme .left .bottom .modal .modal-content img {
    width: 240px;
    height: 240px;
  }
  .main .aboutme .left .bottom .modal .modal-content h2 {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    margin-top: 16px;
    text-align: center;
  }
  .main .aboutme .left .bottom .modal .modal-content p {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    margin-top: 8px;
    text-align: center;
  }
  .main .aboutme .left .bottom .modal.show {
    opacity: 1;
    /* 最终不透明度为1 */
  }
  .main .aboutme .left .bottom .overlay1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 99;
  }
  .main .aboutme .left .bottom .icon_lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main .aboutme .left .bottom .icon_lists ul {
    display: flex;
  }
  .main .aboutme .left .bottom .icon_lists ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-left: 16px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont {
    font-size: 24px;
    color: #666666;
    transition: all 0.3s ease;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_dribbble:hover {
    color: #ea4c88;
    font-size: 32px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_yuque:hover {
    color: #00b96b;
    font-size: 32px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_unsplash:hover {
    color: #000000;
    font-size: 32px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_github:hover {
    color: #1f2328;
    font-size: 32px;
  }
  .main .aboutme .right {
    width: calc((100% - 16px) / 2);
    display: flex;
    justify-content: end;
    -webkit-justify-content: flex-end;
    align-items: center;
  }
  .main .aboutme .right .picbox {
    width: 198px;
    height: 264px;
    overflow: hidden;
  }
  .main .aboutme .right .picbox img {
    width: 100%;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .main .aboutme {
    width: 100%;
    height: 392px;
    border-bottom: 1px solid #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 24px;
  }
  .main .aboutme .left {
    width: calc((100% - 16px) / 2);
    height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main .aboutme .left .top h1 {
    font-size: 28px;
    font-weight: 500;
    color: #333333;
  }
  .main .aboutme .left .top p {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin-top: 16px ;
  }
  .main .aboutme .left .bottom {
    display: flex;
  }
  .main .aboutme .left .bottom button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding: 0 16px 0 12px;
    width: 50%;
    transition: all 0.3s ease;
  }
  .main .aboutme .left .bottom button .iconfont {
    font-size: 20px;
    color: #05D268;
    margin-right: 8px;
  }
  .main .aboutme .left .bottom button span {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    transition: all 0.3s ease;
  }
  .main .aboutme .left .bottom button:hover {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  }
  .main .aboutme .left .bottom button:hover span {
    color: #05D268;
  }
  .main .aboutme .left .bottom .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 346px;
    background-color: #FFFFFF;
    border-radius: 5px;
    z-index: 100;
  }
  .main .aboutme .left .bottom .modal .modal-content {
    padding: 20px;
  }
  .main .aboutme .left .bottom .modal .modal-content img {
    width: 240px;
    height: 240px;
  }
  .main .aboutme .left .bottom .modal .modal-content h2 {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    margin-top: 16px;
    text-align: center;
  }
  .main .aboutme .left .bottom .modal .modal-content p {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    margin-top: 8px;
    text-align: center;
  }
  .main .aboutme .left .bottom .overlay1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 99;
  }
  .main .aboutme .left .bottom .icon_lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main .aboutme .left .bottom .icon_lists ul {
    display: flex;
  }
  .main .aboutme .left .bottom .icon_lists ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-left: 16px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont {
    font-size: 24px;
    color: #666666;
    transition: all 0.3s ease;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_dribbble:hover {
    color: #ea4c88;
    font-size: 32px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_yuque:hover {
    color: #00b96b;
    font-size: 32px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_unsplash:hover {
    color: #000000;
    font-size: 32px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_github:hover {
    color: #1f2328;
    font-size: 32px;
  }
  .main .aboutme .right {
    width: calc((100% - 16px) / 2);
    display: flex;
    justify-content: end;
    -webkit-justify-content: flex-end;
    align-items: center;
  }
  .main .aboutme .right .picbox {
    width: 198px;
    height: 264px;
    overflow: hidden;
  }
  .main .aboutme .right .picbox img {
    width: 100%;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
}
@media only screen and (min-width: 841px) and (max-width: 960px) {
  .main .aboutme {
    width: 100%;
    height: 392px;
    border-bottom: 1px solid #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 24px;
  }
  .main .aboutme .left {
    width: calc((100% - 16px) / 2);
    height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main .aboutme .left .top h1 {
    font-size: 28px;
    font-weight: 500;
    color: #333333;
  }
  .main .aboutme .left .top p {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin-top: 16px ;
  }
  .main .aboutme .left .top p br:nth-child(2) {
    display: none;
  }
  .main .aboutme .left .bottom {
    display: flex;
  }
  .main .aboutme .left .bottom button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    white-space: nowrap;
    padding: 0 16px 0 12px;
    width: 50%;
    transition: all 0.3s ease;
  }
  .main .aboutme .left .bottom button .iconfont {
    font-size: 20px;
    color: #05D268;
    margin-right: 8px;
  }
  .main .aboutme .left .bottom button span {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    transition: all 0.3s ease;
  }
  .main .aboutme .left .bottom button:hover {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  }
  .main .aboutme .left .bottom button:hover span {
    color: #05D268;
  }
  .main .aboutme .left .bottom .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 346px;
    background-color: #FFFFFF;
    border-radius: 5px;
    z-index: 100;
  }
  .main .aboutme .left .bottom .modal .modal-content {
    padding: 20px;
  }
  .main .aboutme .left .bottom .modal .modal-content img {
    width: 240px;
    height: 240px;
  }
  .main .aboutme .left .bottom .modal .modal-content h2 {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    margin-top: 16px;
    text-align: center;
  }
  .main .aboutme .left .bottom .modal .modal-content p {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    margin-top: 8px;
    text-align: center;
  }
  .main .aboutme .left .bottom .overlay1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 99;
  }
  .main .aboutme .left .bottom .icon_lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main .aboutme .left .bottom .icon_lists ul {
    display: flex;
  }
  .main .aboutme .left .bottom .icon_lists ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-left: 16px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont {
    font-size: 24px;
    color: #666666;
    transition: all 0.3s ease;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_dribbble:hover {
    color: #ea4c88;
    font-size: 32px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_yuque:hover {
    color: #00b96b;
    font-size: 32px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_unsplash:hover {
    color: #000000;
    font-size: 32px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_github:hover {
    color: #1f2328;
    font-size: 32px;
  }
  .main .aboutme .right {
    width: calc((100% - 16px) / 2);
    display: flex;
    justify-content: end;
    -webkit-justify-content: flex-end;
    align-items: center;
  }
  .main .aboutme .right .picbox {
    width: 198px;
    height: 264px;
    overflow: hidden;
  }
  .main .aboutme .right .picbox img {
    width: 100%;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
}
@media only screen and (min-width: 641px) and (max-width: 840px) {
  .main .aboutme {
    width: 100%;
    height: 392px;
    border-bottom: 1px solid #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 24px;
  }
  .main .aboutme .left {
    width: calc((100% - 16px) / 2);
    height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main .aboutme .left .top h1 {
    font-size: 28px;
    font-weight: 500;
    color: #333333;
  }
  .main .aboutme .left .top p {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    margin-top: 16px ;
  }
  .main .aboutme .left .top p br:nth-child(2) {
    display: none;
  }
  .main .aboutme .left .bottom {
    display: flex;
  }
  .main .aboutme .left .bottom button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background-color: #FFFFFF;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding: 0 16px 0 12px;
    width: 50%;
    transition: all 0.3s ease;
  }
  .main .aboutme .left .bottom button .iconfont {
    font-size: 20px;
    color: #05D268;
    margin-right: 8px;
  }
  .main .aboutme .left .bottom button span {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    transition: all 0.3s ease;
  }
  .main .aboutme .left .bottom button:hover {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  }
  .main .aboutme .left .bottom button:hover span {
    color: #05D268;
  }
  .main .aboutme .left .bottom .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 346px;
    background-color: #FFFFFF;
    border-radius: 5px;
    z-index: 100;
  }
  .main .aboutme .left .bottom .modal .modal-content {
    padding: 20px;
  }
  .main .aboutme .left .bottom .modal .modal-content img {
    width: 240px;
    height: 240px;
  }
  .main .aboutme .left .bottom .modal .modal-content h2 {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    margin-top: 16px;
    text-align: center;
  }
  .main .aboutme .left .bottom .modal .modal-content p {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    margin-top: 8px;
    text-align: center;
  }
  .main .aboutme .left .bottom .overlay1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 99;
  }
  .main .aboutme .left .bottom .icon_lists {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 8px;
  }
  .main .aboutme .left .bottom .icon_lists ul {
    display: flex;
  }
  .main .aboutme .left .bottom .icon_lists ul li a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 44px;
    height: 44px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont {
    font-size: 24px;
    color: #666666;
    transition: all 0.3s ease;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_dribbble:hover {
    color: #ea4c88;
    font-size: 32px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_yuque:hover {
    color: #00b96b;
    font-size: 32px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_unsplash:hover {
    color: #000000;
    font-size: 32px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_github:hover {
    color: #1f2328;
    font-size: 32px;
  }
  .main .aboutme .right {
    width: calc((100% - 16px) / 2);
    display: flex;
    justify-content: end;
    -webkit-justify-content: flex-end;
    align-items: center;
  }
  .main .aboutme .right .picbox {
    width: 198px;
    height: 264px;
    overflow: hidden;
  }
  .main .aboutme .right .picbox img {
    width: 100%;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
}
@media only screen and (max-width: 640px) {
  .main .aboutme {
    width: 100%;
    height: 392px;
    border-bottom: 1px solid #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 24px;
  }
  .main .aboutme .left {
    width: 100%;
    height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main .aboutme .left .top h1 {
    font-size: 28px;
    font-weight: 500;
    color: #333333;
    display: block;
    text-align: center;
    white-space: nowrap;
  }
  .main .aboutme .left .top p {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    margin-top: 16px ;
    display: block;
    text-align: center;
    white-space: nowrap;
  }
  .main .aboutme .left .bottom {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }
  .main .aboutme .left .bottom button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 0 16px 0 12px;
    width: 100%;
    height: 44px;
    transition: all 0.3s ease;
  }
  .main .aboutme .left .bottom button .iconfont {
    font-size: 20px;
    color: #05D268;
    margin-right: 8px;
  }
  .main .aboutme .left .bottom button span {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    transition: all 0.3s ease;
  }
  .main .aboutme .left .bottom button:hover {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  }
  .main .aboutme .left .bottom button:hover span {
    color: #05D268;
  }
  .main .aboutme .left .bottom .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 346px;
    background-color: #FFFFFF;
    border-radius: 5px;
    z-index: 100;
  }
  .main .aboutme .left .bottom .modal .modal-content {
    padding: 20px;
  }
  .main .aboutme .left .bottom .modal .modal-content img {
    width: 240px;
    height: 240px;
  }
  .main .aboutme .left .bottom .modal .modal-content h2 {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    margin-top: 16px;
    text-align: center;
  }
  .main .aboutme .left .bottom .modal .modal-content p {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    margin-top: 8px;
    text-align: center;
  }
  .main .aboutme .left .bottom .overlay1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 99;
  }
  .main .aboutme .left .bottom .icon_lists {
    padding: 0 24px 0 24px;
  }
  .main .aboutme .left .bottom .icon_lists ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main .aboutme .left .bottom .icon_lists ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont {
    font-size: 24px;
    color: #666666;
    transition: all 0.3s ease;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_dribbble:hover {
    color: #ea4c88;
    font-size: 32px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_yuque:hover {
    color: #00b96b;
    font-size: 32px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_unsplash:hover {
    color: #000000;
    font-size: 32px;
  }
  .main .aboutme .left .bottom .icon_lists ul li a .iconfont.icon-logo_github:hover {
    color: #1f2328;
    font-size: 32px;
  }
  .main .aboutme .right {
    width: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    visibility: hidden;
  }
  .main .aboutme .right .picbox {
    width: 198px;
    height: 264px;
    overflow: hidden;
    border-radius: 5px;
  }
  .main .aboutme .right .picbox img {
    width: 100%;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  .main .aboutme .right .picbox:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.main .info {
  border-bottom: 1px solid #EEEEEE;
}
@media only screen and (min-width: 1201px) {
  .main .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 64px 24px;
  }
  .main .info .left {
    width: calc((100% - 16px) / 2);
    display: flex;
    flex-direction: column;
  }
  .main .info .left .edu {
    margin-bottom: 32px;
  }
  .main .info .left .title {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 12px;
  }
  .main .info .left .deatils {
    margin-top: 8px ;
  }
  .main .info .left span {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin: 0px 8px 0 0;
  }
  .main .info .left a {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    text-decoration: underline;
  }
  .main .info .right {
    width: calc((100% - 16px) / 2);
    display: flex;
    flex-direction: column;
  }
  .main .info .right .work .title {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 12px;
  }
  .main .info .right .work .work_deatils {
    display: flex;
    justify-content: space-between;
    margin: 8px 0 12px 0 ;
  }
  .main .info .right .work .work_deatils p {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
  }
  .main .info .right .work .work_deatils span {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin: 8px 8px 0 0;
  }
  .main .info .right .work .work_deatils .time {
    width: calc((100% - 16px) / 3 * 1 - 8px);
  }
  .main .info .right .work .work_deatils .deatils {
    display: flex;
    flex-direction: column;
    width: calc((100% - 16px) / 3 * 2 - 8px);
  }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .main .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 64px 24px;
  }
  .main .info .left {
    width: calc((100% - 16px) / 2);
    display: flex;
    flex-direction: column;
  }
  .main .info .left .edu {
    margin-bottom: 32px;
  }
  .main .info .left .title {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 12px;
  }
  .main .info .left .deatils {
    margin-top: 8px ;
  }
  .main .info .left span {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin: 0px 8px 0 0;
  }
  .main .info .left a {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    text-decoration: underline;
  }
  .main .info .right {
    width: calc((100% - 16px) / 2);
    display: flex;
    flex-direction: column;
  }
  .main .info .right .work .title {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 12px;
  }
  .main .info .right .work .work_deatils {
    display: flex;
    justify-content: space-between;
    margin: 8px 0 12px 0 ;
  }
  .main .info .right .work .work_deatils p {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
  }
  .main .info .right .work .work_deatils span {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin: 8px 8px 0 0;
  }
  .main .info .right .work .work_deatils .time {
    width: calc((100% - 16px) / 3 * 1 - 8px);
  }
  .main .info .right .work .work_deatils .deatils {
    display: flex;
    flex-direction: column;
    width: calc((100% - 16px) / 3 * 2 - 8px);
  }
}
@media only screen and (min-width: 841px) and (max-width: 960px) {
  .main .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 64px 24px;
  }
  .main .info .left {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .main .info .left .edu {
    margin-bottom: 32px;
  }
  .main .info .left .title {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 12px;
  }
  .main .info .left .deatils {
    margin-top: 8px ;
  }
  .main .info .left span {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin: 0px 8px 0 0;
  }
  .main .info .left a {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    text-decoration: underline;
  }
  .main .info .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 32px ;
  }
  .main .info .right .work .title {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 12px;
  }
  .main .info .right .work .work_deatils {
    display: flex;
    justify-content: space-between;
    margin: 8px 0 12px 0 ;
  }
  .main .info .right .work .work_deatils p {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
  }
  .main .info .right .work .work_deatils span {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin: 8px 8px 0 0;
  }
  .main .info .right .work .work_deatils .time {
    width: calc((100% - 16px) / 3 * 1 - 8px);
  }
  .main .info .right .work .work_deatils .deatils {
    display: flex;
    flex-direction: column;
    width: calc((100% - 16px) / 3 * 2 - 8px);
  }
}
@media only screen and (min-width: 641px) and (max-width: 840px) {
  .main .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 64px 24px;
  }
  .main .info .left {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .main .info .left .edu {
    margin-bottom: 32px;
  }
  .main .info .left .title {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 12px;
  }
  .main .info .left .deatils {
    margin-top: 8px ;
  }
  .main .info .left span {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin: 0px 8px 0 0;
  }
  .main .info .left a {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    text-decoration: underline;
  }
  .main .info .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 32px ;
  }
  .main .info .right .work .title {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 12px;
  }
  .main .info .right .work .work_deatils {
    display: flex;
    justify-content: space-between;
    margin: 8px 0 12px 0 ;
  }
  .main .info .right .work .work_deatils p {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
  }
  .main .info .right .work .work_deatils span {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin: 8px 8px 0 0;
  }
  .main .info .right .work .work_deatils .time {
    width: calc((100% - 16px) / 3 * 1 - 8px);
  }
  .main .info .right .work .work_deatils .deatils {
    display: flex;
    flex-direction: column;
    width: calc((100% - 16px) / 3 * 2 - 8px);
  }
}
@media only screen and (max-width: 640px) {
  .main .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 24px;
  }
  .main .info .left {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .main .info .left .edu {
    margin-bottom: 32px;
  }
  .main .info .left .title {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 12px;
  }
  .main .info .left .deatils {
    margin-top: 8px ;
  }
  .main .info .left span {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    margin: 0px 8px 0 0;
  }
  .main .info .left a {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    text-decoration: underline;
  }
  .main .info .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 32px ;
  }
  .main .info .right .work .title {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 12px;
  }
  .main .info .right .work .work_deatils {
    margin: 8px 0 12px 0 ;
  }
  .main .info .right .work .work_deatils p {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    margin: 8px 0 0 0;
  }
  .main .info .right .work .work_deatils span {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    margin: 8px 0 0 0;
  }
  .main .info .right .work .work_deatils .time {
    width: 100%;
    margin: 16px 0 0 0;
  }
  .main .info .right .work .work_deatils .deatils {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media only screen and (min-width: 1201px) {
  .main .creation {
    padding-top: 40px;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .main .creation {
    padding-top: 40px;
  }
}
@media only screen and (min-width: 841px) and (max-width: 960px) {
  .main .creation {
    padding-top: 40px;
  }
}
@media only screen and (min-width: 641px) and (max-width: 840px) {
  .main .creation {
    padding-top: 40px;
  }
}
@media only screen and (max-width: 640px) {
  .main .creation {
    padding-top: 16px;
  }
}
.main .creation .work_project {
  padding: 24px;
}
.main .creation .work_project .bigtitle {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media only screen and (min-width: 1201px) {
  .main .creation .work_project .bigtitle .left h1 {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
  }
  .main .creation .work_project .bigtitle .right a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #999999;
    transition: all 0.3s ease;
  }
  .main .creation .work_project .bigtitle .right a span {
    font-size: 14px;
    font-weight: 400;
  }
  .main .creation .work_project .bigtitle .right a .iconfont {
    font-size: 20px;
  }
  .main .creation .work_project .bigtitle .right a:hover {
    color: #333333;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .main .creation .work_project .bigtitle .left h1 {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
  }
  .main .creation .work_project .bigtitle .right a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #999999;
    transition: all 0.3s ease;
  }
  .main .creation .work_project .bigtitle .right a span {
    font-size: 14px;
    font-weight: 400;
  }
  .main .creation .work_project .bigtitle .right a .iconfont {
    font-size: 20px;
  }
  .main .creation .work_project .bigtitle .right a:hover {
    color: #333333;
  }
}
@media only screen and (min-width: 841px) and (max-width: 960px) {
  .main .creation .work_project .bigtitle .left h1 {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
  }
  .main .creation .work_project .bigtitle .right a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #999999;
    transition: all 0.3s ease;
  }
  .main .creation .work_project .bigtitle .right a span {
    font-size: 14px;
    font-weight: 400;
  }
  .main .creation .work_project .bigtitle .right a .iconfont {
    font-size: 20px;
  }
  .main .creation .work_project .bigtitle .right a:hover {
    color: #333333;
  }
}
@media only screen and (min-width: 641px) and (max-width: 840px) {
  .main .creation .work_project .bigtitle .left h1 {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
  }
  .main .creation .work_project .bigtitle .right a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #999999;
    transition: all 0.3s ease;
  }
  .main .creation .work_project .bigtitle .right a span {
    font-size: 14px;
    font-weight: 400;
  }
  .main .creation .work_project .bigtitle .right a .iconfont {
    font-size: 20px;
  }
  .main .creation .work_project .bigtitle .right a:hover {
    color: #333333;
  }
}
@media only screen and (max-width: 640px) {
  .main .creation .work_project .bigtitle .left h1 {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
  }
  .main .creation .work_project .bigtitle .right a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #999999;
    transition: all 0.3s ease;
  }
  .main .creation .work_project .bigtitle .right a span {
    font-size: 14px;
    font-weight: 400;
  }
  .main .creation .work_project .bigtitle .right a .iconfont {
    font-size: 20px;
  }
  .main .creation .work_project .bigtitle .right a:hover {
    color: #333333;
  }
}
.main .creation .work_project .display {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.main .creation .work_project .display button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 0 16px 0 12px;
  width: 100%;
  height: 44px;
  transition: all 0.3s ease;
}
.main .creation .work_project .display button span {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  transition: all 0.3s ease;
}
.main .creation .work_project .display button:hover {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 1201px) {
  .main .creation .work_project .display section {
    background-color: #FFFFFF;
    width: calc((100% - 32px) / 3);
    border-radius: 5px;
    margin-right: 16px;
    margin-bottom: 16px;
    transition: all 0.6s ease;
  }
  .main .creation .work_project .display section a .top {
    width: 373px;
    height: 280px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #D1D1D1;
  }
  .main .creation .work_project .display section a .top img {
    width: 100%;
    position: relative;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .main .creation .work_project .display section a .text {
    padding: 0 8px 16px 8px ;
    margin-top: 16px ;
  }
  .main .creation .work_project .display section a .text h1 {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main .creation .work_project .display section a .text p {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main .creation .work_project .display section:hover {
    transform: translateY(-8px);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  }
  .main .creation .work_project .display section:nth-child(3n) {
    margin-right: 0;
  }
  .main .creation .work_project .display section:hover .top img {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .main .creation .work_project .display section {
    background-color: #FFFFFF;
    width: calc((100% - 32px) / 3);
    border-radius: 5px;
    margin-right: 16px;
    margin-bottom: 16px;
    transition: all 0.6s ease;
  }
  .main .creation .work_project .display section a .top {
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
    border-radius: 5px;
    background-color: #D1D1D1;
  }
  .main .creation .work_project .display section a .top img {
    width: 100%;
    position: relative;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .main .creation .work_project .display section a .text {
    padding: 0 8px 16px 8px ;
    margin-top: 16px ;
  }
  .main .creation .work_project .display section a .text h1 {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main .creation .work_project .display section a .text p {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main .creation .work_project .display section:hover {
    transform: translateY(-8px);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  }
  .main .creation .work_project .display section:nth-child(3n) {
    margin-right: 0;
  }
  .main .creation .work_project .display section:hover .top img {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 841px) and (max-width: 960px) {
  .main .creation .work_project .display section {
    background-color: #FFFFFF;
    width: calc((100% - 32px) / 3);
    border-radius: 5px;
    margin-right: 16px;
    margin-bottom: 16px;
    transition: all 0.6s ease;
  }
  .main .creation .work_project .display section a .top {
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
    border-radius: 5px;
    background-color: #D1D1D1;
  }
  .main .creation .work_project .display section a .top img {
    width: 100%;
    position: relative;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .main .creation .work_project .display section a .text {
    padding: 0 8px 16px 8px ;
    margin-top: 16px ;
  }
  .main .creation .work_project .display section a .text h1 {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main .creation .work_project .display section a .text p {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main .creation .work_project .display section:hover {
    transform: translateY(-8px);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  }
  .main .creation .work_project .display section:nth-child(3n) {
    margin-right: 0;
  }
  .main .creation .work_project .display section:hover .top img {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 641px) and (max-width: 840px) {
  .main .creation .work_project .display section {
    background-color: #FFFFFF;
    width: calc((100% - 16px) / 2);
    border-radius: 5px;
    margin-right: 16px;
    margin-bottom: 16px;
    transition: all 0.6s ease;
  }
  .main .creation .work_project .display section a .top {
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
    border-radius: 5px;
    background-color: #D1D1D1;
  }
  .main .creation .work_project .display section a .top img {
    width: 100%;
    position: relative;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .main .creation .work_project .display section a .text {
    padding: 0 8px 16px 8px ;
    margin-top: 16px ;
  }
  .main .creation .work_project .display section a .text h1 {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main .creation .work_project .display section a .text p {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main .creation .work_project .display section:hover {
    transform: translateY(-8px);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  }
  .main .creation .work_project .display section:nth-child(2n) {
    margin-right: 0;
  }
  .main .creation .work_project .display section:hover .top img {
    transform: scale(1.1);
  }
}
@media only screen and (max-width: 640px) {
  .main .creation .work_project .display section {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 16px;
    transition: all 0.6s ease;
  }
  .main .creation .work_project .display section a .top {
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
    border-radius: 5px;
    background-color: #D1D1D1;
  }
  .main .creation .work_project .display section a .top img {
    width: 100%;
    position: relative;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .main .creation .work_project .display section a .text {
    padding: 0 8px 16px 8px ;
    margin-top: 16px ;
  }
  .main .creation .work_project .display section a .text h1 {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main .creation .work_project .display section a .text p {
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main .creation .work_project .display section:hover {
    transform: translateY(-8px);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  }
  .main .creation .work_project .display section:hover .top img {
    transform: scale(1.1);
  }
}
.main .creation .personal_practice {
  padding: 24px;
}
.main .creation .personal_practice .bigtitle {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.main .creation .personal_practice .bigtitle .left h1 {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}
.main .creation .personal_practice .bigtitle .right a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #999999;
  transition: all 0.3s ease;
}
.main .creation .personal_practice .bigtitle .right a span {
  font-size: 14px;
  font-weight: 400;
}
.main .creation .personal_practice .bigtitle .right a .iconfont {
  font-size: 20px;
}
.main .creation .personal_practice .bigtitle .right a:hover {
  color: #333333;
}
.main .creation .personal_practice .display {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.main .creation .personal_practice .display button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 0 16px 0 12px;
  width: 100%;
  height: 44px;
  transition: all 0.3s ease;
}
.main .creation .personal_practice .display button span {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  transition: all 0.3s ease;
}
.main .creation .personal_practice .display button:hover {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 1201px) {
  .main .creation .personal_practice .display section {
    background-color: #FFFFFF;
    width: calc((100% - 32px) / 3);
    border-radius: 5px;
    margin-right: 16px;
    margin-bottom: 16px;
    transition: all 0.6s ease;
  }
  .main .creation .personal_practice .display section .top {
    width: 100%;
    height: 0;
    padding-bottom: calc(75%);
    overflow: hidden;
    border-radius: 5px;
    background-color: #D1D1D1;
  }
  .main .creation .personal_practice .display section .top img {
    position: relative;
    z-index: 1;
    width: 100%;
    transition: all 0.6s ease;
  }
  .main .creation .personal_practice .display section:hover {
    transform: translateY(-8px);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .main .creation .personal_practice .display section:nth-child(3n) {
    margin-right: 0;
  }
  .main .creation .personal_practice .display section:hover img {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .main .creation .personal_practice .display section {
    background-color: #FFFFFF;
    width: calc((100% - 32px) / 3);
    border-radius: 5px;
    margin-right: 16px;
    margin-bottom: 16px;
    transition: all 0.6s ease;
  }
  .main .creation .personal_practice .display section .top {
    width: 100%;
    height: 0;
    padding-bottom: calc(75%);
    overflow: hidden;
    border-radius: 5px;
    background-color: #D1D1D1;
  }
  .main .creation .personal_practice .display section .top img {
    position: relative;
    z-index: 1;
    width: 100%;
    transition: all 0.6s ease;
  }
  .main .creation .personal_practice .display section:hover {
    transform: translateY(-8px);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .main .creation .personal_practice .display section:nth-child(3n) {
    margin-right: 0;
  }
  .main .creation .personal_practice .display section:hover img {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 841px) and (max-width: 960px) {
  .main .creation .personal_practice .display section {
    background-color: #FFFFFF;
    width: calc((100% - 32px) / 3);
    border-radius: 5px;
    margin-right: 16px;
    margin-bottom: 16px;
    transition: all 0.6s ease;
  }
  .main .creation .personal_practice .display section .top {
    width: 100%;
    height: 0;
    padding-bottom: calc(75%);
    overflow: hidden;
    border-radius: 5px;
    background-color: #D1D1D1;
  }
  .main .creation .personal_practice .display section .top img {
    position: relative;
    z-index: 1;
    width: 100%;
    transition: all 0.6s ease;
  }
  .main .creation .personal_practice .display section:hover {
    transform: translateY(-8px);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .main .creation .personal_practice .display section:nth-child(3n) {
    margin-right: 0;
  }
  .main .creation .personal_practice .display section:hover img {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 641px) and (max-width: 840px) {
  .main .creation .personal_practice .display section {
    background-color: #FFFFFF;
    width: calc((100% - 16px) / 2);
    border-radius: 5px;
    margin-right: 16px;
    margin-bottom: 16px;
    transition: all 0.6s ease;
  }
  .main .creation .personal_practice .display section .top {
    width: 100%;
    height: 0;
    padding-bottom: calc(75%);
    overflow: hidden;
    border-radius: 5px;
    background-color: #D1D1D1;
  }
  .main .creation .personal_practice .display section .top img {
    position: relative;
    z-index: 1;
    width: 100%;
    transition: all 0.6s ease;
  }
  .main .creation .personal_practice .display section:hover {
    transform: translateY(-8px);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .main .creation .personal_practice .display section:nth-child(2n) {
    margin-right: 0;
  }
  .main .creation .personal_practice .display section:hover img {
    transform: scale(1.1);
  }
}
@media only screen and (max-width: 640px) {
  .main .creation .personal_practice .display section {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 16px;
    transition: all 0.6s ease;
  }
  .main .creation .personal_practice .display section .top {
    width: 100%;
    height: 0;
    padding-bottom: calc(75%);
    overflow: hidden;
    border-radius: 5px;
    background-color: #D1D1D1;
  }
  .main .creation .personal_practice .display section .top img {
    position: relative;
    z-index: 1;
    width: 100%;
    transition: all 0.6s ease;
  }
  .main .creation .personal_practice .display section:hover {
    transform: translateY(-8px);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .main .creation .personal_practice .display section:hover img {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 1201px) {
  footer {
    left: 0;
    bottom: 0;
    z-index: 1;
    border-top: solid 1px #EEEEEE;
    width: 100%;
    height: 60px;
    background-color: #F8F8F8;
  }
  footer .info {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    text-align: center;
    line-height: 60px;
  }
  footer .info a {
    margin-left: 16px;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  footer {
    left: 0;
    bottom: 0;
    z-index: 1;
    border-top: solid 1px #EEEEEE;
    width: 100%;
    height: 60px;
    background-color: #F8F8F8;
  }
  footer .info {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    text-align: center;
    line-height: 60px;
  }
  footer .info a {
    margin-left: 16px;
  }
}
@media only screen and (min-width: 841px) and (max-width: 960px) {
  footer {
    left: 0;
    bottom: 0;
    z-index: 1;
    border-top: solid 1px #EEEEEE;
    width: 100%;
    height: 60px;
    background-color: #F8F8F8;
  }
  footer .info {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    text-align: center;
    line-height: 60px;
  }
  footer .info a {
    margin-left: 16px;
  }
}
@media only screen and (min-width: 641px) and (max-width: 840px) {
  footer {
    left: 0;
    bottom: 0;
    z-index: 1;
    border-top: solid 1px #EEEEEE;
    width: 100%;
    height: 44px;
    background-color: #F8F8F8;
  }
  footer .info {
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    text-align: center;
    line-height: 44px;
  }
  footer .info a {
    margin-left: 16px;
  }
}
@media only screen and (max-width: 640px) {
  footer {
    left: 0;
    bottom: 0;
    z-index: 1;
    border-top: solid 1px #EEEEEE;
    width: 100%;
    height: 44px;
    background-color: #F8F8F8;
  }
  footer .info {
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    text-align: center;
    line-height: 44px;
  }
  footer .info a {
    margin-left: 16px;
  }
}
